$lawngreen: rgba(124, 252, 0, 0.5);
$limegreen: rgba(50, 205, 50, 1);

$lightyellow: rgba(255, 255, 224, 1);
$papayawhip: rgba(245, 229, 203, 1);

$black: rgba(0, 0, 0, 1);
$lightsteelblue: rgba(176, 196, 222, 1);
$slategray: rgba(90, 90, 100, 1);
$glass: rgba(110, 110, 120, 0.5);

$goldenrod: rgba(230, 200, 30, 1);